@model IEnumerable<GymCenter.Models.Aboutuspage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videourl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Backgroundvideoimg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Videourl)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Backgroundvideoimg) *@
                    <img src=@Url.Content("~/images/"+item.Backgroundvideoimg) asp-append-version=true width="100" height="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
