@{
    Layout = "~/Views/Shared/GuestLayout.cshtml";

}
@model Tuple<GymCenter.Models.Aboutuspage, List<GymCenter.Models.Whychooseu>, string>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg"  data-setbg="@Url.Content("~/images/"+Model.Item3)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>About us</h2>
                    <div class="bt-option">
                        <a asp-action="Home">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Why chose us?</span>
                    <h2>PUSH YOUR LIMITS FORWARD</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach(var item in Model.Item2)
            {
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="@item.IconClass"></span>
                    <h4>@item.Title</h4>
                    <p>
                        @item.Description
                    </p>
                </div>
            </div>  
            }
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->
<!-- About US Section Begin -->
<section class="aboutus-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="about-video set-bg"  data-setbg="@Url.Content("~/images/"+ Model.Item1.Backgroundvideoimg)">
                    <a href="@Model.Item1.Videourl" class="play-btn video-popup">
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>@Model.Item1.Title</h2>
                    </div>
                    <div class="at-desc">
                        <p>
                            @Model.Item1.Paragraph1
                        </p>
                    </div>
                    <div class="at-desc">
                        <p>
                            @Model.Item1.Paragraph2
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>