@{
    Layout = null;
}
@model GymCenter.Models.Workoutplan
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Payment Page">
    <title>Payment Page</title>
    <link rel="stylesheet" href="~/css/Payment.css">
</head>
<body>

    <div class="payment-container">
        <h2>Selected Plan</h2>
        <h3>@Model.Planname</h3>
        <h2>Payment Details</h2>
        <form  method="POST" class="payment-form" id="payment-form">
            <input type="hidden" name="PlanID" value="@Model.Planid" />
            <input type="hidden" name="Durationinmonths" value="@Model.Durationinmonths" />
            <div class="form-group">
                <label for="Cardnumber">Card Number</label>
                <input type="text" id="Cardnumber" name="Cardnumber" placeholder="Enter your card number" required>
            </div>

            <div class="form-group">
                <label for="Expirydate">Expiration Date</label>
                <input type="month" id="Expirydate" name="Expirydate" required>
            </div>

            <div class="form-group">
                <label for="Cvv">CVV</label>
                <input type="text" id="Cvv" name="Cvv" placeholder="Enter CVV" required>
            </div>

            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" id="amount" name="amount" value="@Model.Price" readonly>
            </div>

            <button type="submit" class="submit-btn">Pay Now</button>
        </form>
        <a asp-controller="Member" asp-action="Services">Cancel Payment</a>
    </div>

</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["ErrorCard"] != null)
    {
        <text>
                    Swal.fire({
                    title: 'Failed!',
                    text: '@TempData["ErrorCard"] ',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                    allowEscapeKey: false
                });
        </text>
    }
    @if (TempData["ErrorBalance"] != null)
    {
        <text>
                Swal.fire({
                    title: 'Failed',
                text: '@TempData["ErrorBalance"]',
                    icon: 'error',
                    confirmButtonText: 'OK',
                    allowOutsideClick: false,
                    allowEscapeKey: false
                });
        </text>
    }
</script>

