@model GymCenter.Models.Siteinfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siteinfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharedImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharedImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
