@model GymCenter.Models.Workoutplan

@{
    Layout = "~/Views/Shared/TrainerLayout.cshtml";
}

<div class="container" style="margin-top: 5.5rem;">
    <h1 class="text-center mb-4">Workout Plan Details</h1>

    <div class="card shadow">
        <div class="card-header">
            <h4 class="mb-0">Workout Plan Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Planname)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Planname)
                </dd>
                <dt class="col-sm-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Durationinmonths)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Durationinmonths)
                </dd>
                <dt class="col-sm-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.ExerciseRoutines)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ExerciseRoutines)
                </dd>
                <dt class="col-sm-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Goals)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Goals)
                </dd>
                <dt class="col-sm-3 font-weight-bold text-secondary">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model?.Planid" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
